.testimonial{
    .container{
        display:grid;
        grid-template-columns: repeat(2, 1fr);

        article{
            img{
                max-width: 100%;
            }
            h3{
                font-size:3.7rem;
                line-height: 62px;
                margin-top:3rem;
            }
            p{
                margin:2rem 0;
                letter-spacing: 1px;
            }
            .customer{
                small{
                    font-size:1rem;
                }
                .ratings{
                    color:$primary-color;
                }
            }
        }
    }
}

/*--------------SMALL SCREEM DEVICES================*/ 


@media screen and (max-width:600px) {
    .testimonial{
        .container{
            grid-template-columns: 1fr;
            text-align: center;
    
            article{
                h3{
                    font-size:2rem;
                    line-height: 42px;
                }
            }
        }
    } 
}